// 平台页引入, 以及对平台的布局数值定义
// 属性顺序: 先高后宽, 先内后外
// 对于dialog,panel,table,input上的区分和通用上还需要处理.

@import "normalize.scss";
@import "components/_global.scss";
@import "components/_color.scss";
@import "components/_icons.scss";
@import "components/_input.scss";
@import "components/_menu.scss";
@import "components/_tabs.scss";
@import "components/_panel.scss";
@import "components/_table.scss";
@import "components/_dialog.scss";
@import "components/_toolbar.scss";
@import "components/_buttons.scss";
@import "components/_flexible.scss";
@import "components/_icon-bar.scss";
@import "components/_accordion.scss";
@import "components/_inline-style.scss";

$plat-side-width: 230px;
$plat-side-top-height: 100px;
$plat-side-top-padding-top: 18px;

$plat-body-info-width: 290px;
$plat-body-hander-height: 78px;
$plat-body-footer-height: 32px;

$plat-body-footer-padding: 0 0 0 20px;

$plat-body-hander-hamburger-bg-color: #ff8585;

$plat-body-info-bg-color: #fefefe;
$plat-body-info-border-color: #a3a4a5;
$plat-body-info-sudo-bg-color: #87c4ff;
$plat-body-footer-border-color: #d7dadc;
$plat-body-footer-bg-color: #f0f0f0;

#plat-main {
  height: 100%;
  background-color: $plat-main-bg-color;

  @at-root #plat-side {
    height: 100%;
    width: $plat-side-width;
    padding-top: $plat-side-top-height;
    background-color: $plat-side-bg-color;

    @at-root #plat-side-top {
      height: $plat-side-top-height;
      padding-top: $plat-side-top-padding-top;
      margin-top: -$plat-side-top-height;
      line-height: 1;
      text-align: center;

      // 控制提交按钮间隔
      > .submit { margin-top: 0; }
    }

    @at-root #plat-side-content {
      height: 100%;
    }
  }

  @at-root #plat-body {
    height: 100%;
    padding-top: $plat-body-hander-height;
    padding-bottom: $plat-body-footer-height;
    margin-left: $plat-side-width;

    @at-root #plat-body-hander {
      height: $plat-body-hander-height;
      margin-top: -$plat-body-hander-height;

      > .hamburger {
        position: relative;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        background-color: $plat-body-hander-hamburger-bg-color;
        border-color: $plat-body-hander-hamburger-bg-color;

        @include hamburger(
          $width:18px, $thickness:1px,
          $top:12px, $left:10px,
          $gap:6px, $color:$white,
          $offcanvas:true);
      }
      > .menu {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
      }
      > .toolbar {
        padding-left: 60px;
      }
    }

    @at-root #plat-body-info {
      position: relative;
      height: 100%;
      width: $plat-body-info-width;
      padding: 5px 0 0 9px;
      border-left: 1px solid $plat-body-info-border-color;
      background-color: $plat-body-info-bg-color;
      overflow-y: auto;
      overflow-x: hidden;

      @at-root #plat-info-sudo {
        position: absolute;
        top: 5px; right: 0;
        font-size: 12px;
        @include button-style($radius: 4px, $bg: $plat-body-info-sudo-bg-color);
      }
    }

    @at-root #plat-body-container {
      height: 100%;
      overflow: auto;
.dialog {
  position: relative;
  margin: 0;
}
    }

    @at-root #plat-body-footer {
      height: $plat-body-footer-height;
      padding: $plat-body-footer-padding;
      border-top: 1px solid $plat-body-footer-border-color;
      background-color: $plat-body-footer-bg-color;

      > .icon-btn {
        height: 30px;
        margin-left: 10px;
        background-position: 0 45%;
        vertical-align: middle;
      }
    }
  }
}
