// 结果页引入

@import "normalize.scss";
@import "components/_global.scss";
@import "components/_icons.scss";
@import "components/_icon-bar.scss";
@import "components/_panel.scss";
@import "components/_table.scss";
@import "components/_bubble.scss";
@import "components/_inline-style.scss";

$result-body-bg-color: #f5f6f7;

$result-container-bg-color: $white;
$result-container-height: 100%;
$result-container-width: rem-calc(982);
$result-container-padding: 0 rem-calc(20);
$result-container-top-border-width: rem-calc(3);
$result-container-border-color: #d3d7d9;
$result-container-border-top-color: #ff5c54;

$result-part-spacing: rem-calc(40);
$result-part-bottom-distance: rem-calc(14);
$result-part-font-size: rem-calc(12);

$result-title-font-size: rem-calc(20);
$result-title-line-spacing: rem-calc(20);
$result-title-black-padding: rem-calc(20) 0 rem-calc(30) 0;
$result-title-color: #87898b;

$result-header-icon-round-spacing: rem-calc(10);
$result-header-icon-round-bg-color: #f0f0f0;

$result-part-title-font-size: rem-calc(18);

  body { background-color: $result-body-bg-color; }

  .result-info {
    font-size: 12px;
    color: #fff;
    margin: 0 0 10px 0;
    & > label { color: #e3e5e7; }
  }

  #result-container {
    min-height: $result-container-height;
    width: $result-container-width;
    padding: $result-container-padding;
    margin: 0 auto;
    border: 1px solid $result-container-border-color;
    border-top-width: $result-container-top-border-width;
    border-top-color: $result-container-border-top-color;
    background-color: $result-container-bg-color;

    #result-header {
      position: relative;//?????

      .icon-bar {
        @include icon-posi($height: 36px, $right: 0);
        .icon-round {
          background-color: $result-header-icon-round-bg-color;
          border-color: $result-header-icon-round-bg-color;
          margin-right: $result-header-icon-round-spacing;
          &:last-child { margin-right: 0; }
        }
      }
    }

    #result-title {
      padding: $result-title-black-padding;
      margin: 0;
      font-size: $result-title-font-size;
      line-height: 1;
    }

    .result-part { // 结果部分
      padding-bottom: $result-part-spacing;
      font-size: $result-part-font-size;

      .part-name { // 名称
        margin: 0 0 $result-part-bottom-distance 0;
        color: $result-title-color;
        font-size: $result-part-title-font-size;
      }
      .font-line::after { // 文字线
        margin-left: $result-title-line-spacing;
        border-top-style: dashed;
      }
      // 布局控制一下
      .note-font { margin-top: 10px; }
      .prompt-font { margin-top: 10px; }
    }
  }
