@import "global";
// @import "icon";

// 布局
$accordion-height: 100% !default;
$accordion-padding-left: $body-area-spac !default;

// 琴默认颜色
$accordion-bg-color: #4a525d !default;
$accordion-header-bg-color: #777D86 !default;
$accordion-header-active-bg-color: $info-color !default;
$accordion-header-border-color: #95999e !default;
$accordion-content-border-color: #24282E !default;

// 控制字体
$accordion-font-size: rem-calc(14) !default;
$accordion-font-family: $body-font-family !default;

// 手风琴头
$accordion-hander-height: rem-calc(34);
$accordion-hander-font-size: rem-calc(16);
$accordion-hander-letter-spacing: 2px;
$accordion-hander-padding-right: $accordion-padding-left;

$accordion-hander-font-color: rgba($white, .6) !default;
$accordion-hander-active-font-color: $white !default;

// 指标项
$indicate-item-height: rem-calc(36);
$indicate-item-border-color: hsl(210, 1.6%, 53.7%); // 87898b
$indicate-item-border-color: hsl(210, 1.6%, 54.7%); // 87898b

$indicate-item-color: $white;
// 指标项图标条右距
$indicate-item-icon-bar-right: $body-join-spac;
$indicate-item-padding-right: $accordion-hander-padding-right + rem-calc(12);

@include exports("accordion") {
  .accordion {
    .accordion-navigation { // 每项
      display: block;
      line-height: 1;
      font-size: $accordion-font-size;
      > a { text-decoration: none; }
      > .hander {
        position: relative; // 图标定位
        display: block;
        padding-left: $accordion-padding-left;
        padding-top: ($accordion-hander-height - $accordion-hander-font-size) / 2;
        padding-bottom: ($accordion-hander-height - $accordion-hander-font-size) / 2;
        border-top: 1px solid $accordion-header-border-color;
        border-bottom: 1px solid $accordion-header-bg-color;

        font-size: $accordion-hander-font-size;
        letter-spacing: $accordion-hander-letter-spacing;
        color: $accordion-hander-font-color;

        background-color: $accordion-header-bg-color;

        &.active { color: $accordion-hander-active-font-color; }
        &.active:before { // 混入?
          content: '';
          position: absolute;
          display: inline-block;
          top: -1px;
          left: 0;
          width: $accordion-padding-left / 2;
          height: $accordion-hander-height + rem-calc(2);
          background-color: $accordion-header-active-bg-color;
        }

        // 头下的手风琴头的图标条定位
        > .icon-bar {
          @include icon-bar-position($right: $accordion-hander-padding-right);
        }
      }

      > .content {
        height: 1px;
        border-top: 1px solid $accordion-content-border-color;
        overflow: hidden;
        &.active {
          display: block;
          height: auto;
          overflow: inherit;
          background: $accordion-bg-color;
        }
      }
    }
  }
}


