@import "global";
@import "icon";
// 对话框样式

$dialog-border-color: #d3d7d9 !default;
$dialog-bg-color: #FEFEFE !default;


@mixin dialog-base () {
  position: absolute;
  display: block;
  padding: 5px 0 5px 0;
  border: 1px solid $dialog-border-color;
  border-radius: 2px;
  background-color: $dialog-bg-color;
  z-index: 999;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
}

@include exports("dialog") {

  .dialog {
    @include dialog-base;
  }

  .font-block {
    position: relative;
    padding: 5px 0 5px 20px;
    font-size: 14px;
    cursor: default;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .font-selected:before {
    content: '';
    display: inline-block;

    @include icon-size(10px, 8px);
    @include icon-image($img-key: "selected");
    @include icon-position((13px, 5px), "absolute");
  }
}
