@import "global";
@import "icon";
// 对话框样式

// 定义盒子模型
$dialog-padding-top: 5px !default;
$dialog-padding-right: 0 !default;
$dialog-padding-bottom: 0 !default;
$dialog-padding-left: 5px !default;

$dialog-radius-size: 2px;
$dialog-box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);

// 对话框颜色定义
$dialog-border-color: #d3d7d9;
$dialog-bg-color: #fefefe;

// 文字块定义
$font-block-padding-left: 18px;
$font-block-font-size: 14px;
$font-block-hover-bg-color: #f0f0f0;

// 颜色块定义
$color-block-width: 12px;
$color-block-height: 12px;
$color-group-gap: 5px;
$color-blank-border-color: #e8e8e8;

// 弹出对话框定义
$dialog-header-height: 42px;
$dialog-header-padding-left: 20px;
$dialog-header-padding-right: 20px;
$dialog-bottom-height: 50px;

$dialog-header-font-size: 16px;

$dialog-header-border-color: #a3a4a5;
$dialog-bottom-bg-color: #f0f0f0;

// 悬浮层基础既定
// $top - 上决定定位值
// $left - 左绝对定位值
// $padding - 定义内边距 Default: "default"(会使用默认的内边距)
@mixin dialog-base ($top:auto, $left:auto, $padding:"default") {
  position: absolute;
  top: $top;
  left: $left;
  display: block;
  @if ($padding == "default") {
    padding: $dialog-padding-top
             $dialog-padding-right
             $dialog-padding-bottom
             $dialog-padding-left
  } @else {
    padding: $padding;
  }
}

// 定义对话的样式
@mixin dialog-style ($bg-color: $dialog-bg-color) {
  background-color: $bg-color;
}

// 定义边线的乱码七糟
@mixin dialog-border (
  $border-color: $dialog-border-color,
  $radius-size: $dialog-radius-size,
  $box-shadow: $dialog-box-shadow) {

  border: 1px solid $border-color;
  border-radius: $radius-size;
  box-shadow: $box-shadow;
}

@include exports("dialog") {

  .modal {
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(163, 164, 165, .2);
    @include dialog-base($top: 0, $left: 0);
  }

  // 弹出层默认(通常为菜单)
  .layer {
    @include dialog-base;
    @include dialog-border;
    @include dialog-style;

    // 文字块定义
    .font-block {
      display: block;
      position: relative;
      padding-left: $font-block-padding-left;
      font-size: $font-block-font-size;
      line-height: $font-block-font-size * 2; // ?
      cursor: default;

      &.selected:before {
        content: '';
        display: inline-block;
        @include icon-size(10px, 8px);
        @include icon-image($img-key: "selected");
        @include icon-position((9px, 5px), "absolute");
      }

      &:hover { background-color: $font-block-hover-bg-color; }
    }

    // 颜色块容器定义
    &.color-container {
      padding: 9px;
      line-height: 0;
    }
    // 颜色块随随便便的小按钮
    .color-container-btn {
      display: block;
      width: 85px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      background-color: #f0f0f0;
      cursor: pointer;
    }
    .color-group { margin-bottom: $color-group-gap; }

    // 颜色块定义
    .color-block {
      display: inline-block;
      width: $color-block-width;
      height: $color-block-height;
      margin-right: $color-group-gap;

      // 空白?
      &.color-border { border: 1px solid $color-blank-border-color; }
      &.selected:before {
        content: '';
        display: inline-block;
        @include icon-size(10px, 8px);
        @include icon-image($img-key: "selected");
        @include icon-position((11px, 10px), "absolute");

        filter: brightness(500%); // 高光大白
      }

      // 的了算卦的
      &.last {
        margin-right: 0;
        margin-left: $color-group-gap;
      }
    }
  }

  // 对话框
  .dialog {
    width: 462px;
    z-index: 501;
    @include dialog-base($padding: 0);
    @include dialog-border(
      $radius-size: 4px,
      $border-color: #646464,
      $box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .6));
    @include dialog-style($bg-color: #FAFAFA);

    .dialog-header {
      position: relative;
      height: $dialog-header-height;
      padding: 0 $dialog-header-padding-right 0 $dialog-header-padding-left;
      border-bottom: 1px solid $dialog-header-border-color;
      font-size: $dialog-header-font-size;
      line-height: $dialog-header-height;
      font-weight: bold;

      .icon-bar {
        @include icon-bar-position($height:16px, $right:$dialog-header-padding-right);
      }
    }

    // 大肚子的形象
    .dialog-content {
      > table {
        width: 100%;
        font-size: 12px;

        th {
          width: 1px;
          padding-left: $dialog-header-padding-left;
          text-align: left;
          white-space: nowrap;
        }
        td {
          padding-right: $dialog-header-padding-right;
        }

        tr, td, th {
          padding-top: 15px;
          // border: 1px solid red;
        }
      }
      // 嚯哈嚯哈嚯哈嚯哈呼哦哈嚯哈
    }

    .dialog-bottom {
      height: $dialog-bottom-height;
      padding: 0 $dialog-header-padding-right 0 $dialog-header-padding-left;
      text-align: right;
      background-color: $dialog-bottom-bg-color;

      // 偷技巧
      button { margin: 10px 0 0 10px; }
    }


  }
}
