@import "global";
// 图标定义

// 基础宽高
$icon-base-height: rem-calc(12);
$icon-base-width: rem-calc(12);
$icon-base-img-key: "icon-collecion";

// 图片路径的映射
$icon-image-map: (
  "row": "../icons/row.png",
  "arrow": "../icons/arrow.png",
  "triangle": "../icons/triangle.png",
  "arrow-min": "../icons/arrow-min.png",
  "close-min": "../icons/close-min.png",
  "search-min": "../icons/search-min.png",
  "selected": "../icons/selected.png",
  "row-hover": "../icons/row-hover.png",
  "icon-collecion": "../icons/icon-collecion.png",
);

// 控制图标的尺寸
// $width - 控制宽度
// $height - 控制高度
@mixin icon-size (
  $height:$icon-base-height,
  $width:$icon-base-width) {

  height: $height;
  width: $width;
}

// 图标容器
// $width - 控制宽度可以显示的宽度
// $height - 控制容器可以显示的高度
@mixin icon-container (
  $width: $icon-container-width,
  $height: $icon-container-height) {

  display: block;
  position: relative;
  overflow: hidden;
  @include icon-size($height, $width);
}

// 设置图标图片
// $imgKey - icon路径的key
// $img-posi - 偏移量. Default: null
@mixin icon-map ($img-key: $icon-base-img-key, $img-posi: null) {

  $img-url: map-get($icon-image-map, $img-key);
  background-image: url($img-url);
  @if $img-posi != null {
    background-position: nth($img-posi, 1) nth($img-posi, 2);
  }
}

// 创建基础的图标样式
// $height - 高度
// $width - 宽度
// $img-key - 图片映射路径key
// $img-posi - 图片偏移量
@mixin icon-image (
  $img-key:null, $img-posi:null,
  $height:$icon-base-height, $width:$icon-base-width) {

  @include icon-size($height, $width);
  @include icon-map($img-key, $img-posi);
}

// 创建切换的icon
// $height - 高度
// $width - 宽度
// $key - 图片映射路径key
// $img-hover-key - hover下图片映射路径key
@mixin icon-toggle (
  $img-key: null, $img-hover-key: null,
  $height:$icon-base-height, $width:$icon-base-width) {

  @include icon-size($height, $width);
  @if $img-key != null { @include icon-map($img-key); }
  @if $img-hover-key != null {
    &:hover { @include icon-map($img-hover-key); }
  }
}

// 伪元素决定定义通过容器显示图标
// $img-key - 图标映射键
// $top - 上偏移
// $left - 左偏移
@mixin icon-abs-before (
  $img-key: $icon-base-img-key,
  $img-abs: null) {

  @if $img-key != null {
    $img-url: map-get($icon-image-map, $img-key);

    &::before {
      content: url($img-url);
      position: absolute;
      left: nth($img-abs, 1);
      top: nth($img-abs, 2);
      display: inline-block;
    }
  }
}

@include exports ("icons") {

  .icon-btn { cursor: pointer; }
  .icon, .icon-btn {
    display: inline-block;
    background-repeat: no-repeat;

    &.row, &.col {
      @include single-transition(background-image);
      @include icon-toggle("row", "row-hover");
    }
    &.col { @include rotate2d(90deg); }
    &.remove { @include icon-image("icon-collecion", (-123px, -87px), 16px, 16px); }
    &.remove:hover { @include icon-image("icon-collecion", (-144px, -87px), 16px, 16px); }
    &.arrow-min-down { @include icon-image("arrow-min", (0, 0), 3px, 5px); }
  }

  // 16 * 16
  .icon-open { @include icon-abs-before($img-abs      :(-19px, -24px)); }
  .icon-refresh { @include icon-abs-before($img-abs   :(-53px, -24px)); }
  .icon-download { @include icon-abs-before($img-abs  :(-88px, -24px)); }
  .icon-b { @include icon-abs-before($img-abs         :(-157px, -24px)); }
  .icon-i { @include icon-abs-before($img-abs         :(-226px, -24px)); }
  .icon-x { @include icon-abs-before($img-abs         :(-122px, -24px)); }
  .icon-a { @include icon-abs-before($img-abs         :(-190px, -25px)); }
  .icon-left { @include icon-abs-before($img-abs      :(-328px, -24px)); }
  .icon-right { @include icon-abs-before($img-abs     :(-259px, -24px)); }
  .icon-center { @include icon-abs-before($img-abs    :(-294px, -24px)); }
  .icon-bg { @include icon-abs-before($img-abs        :(-259px, -55px)); }
  .icon-filter { @include icon-abs-before($img-abs    :(-19px, -55px)); }
  .icon-e { @include icon-abs-before($img-abs         :(-53px, -55px)); }
  .icon-percentage { @include icon-abs-before($img-abs:(-88px, -55px)); }
  .icon-kp { @include icon-abs-before($img-abs        :(-157px, -55px)); }
  .icon-kq { @include icon-abs-before($img-abs        :(-122px, -55px)); }
  .icon-y { @include icon-abs-before($img-abs         :(-190px, -55px)); }

}