@import "global";

$icon-base-width: 12px !default;
$icon-base-height: 12px !default;
$icon-container-width: 16px !default;
$icon-container-height: 16px !default;
$icon-bg-color: green;

$icon-collecion-key: "icon-collecion";

// 图片路径的映射
$icon-image-map: (
  "row": "../icons/row.png",
  "arrow": "../icons/arrow.png",
  "arrow-min": "../icons/arrow-min.png",
  "search": "../icons/add-search.png",
  "selected": "../icons/selected.png",
  "row-hover": "../icons/row-hover.png",
  "icon-collecion": "../icons/icon-collecion.png",
);
// 控制图标大小
// $width - 手动控制的宽度. Default: $icon-base-width || 12px
// $height - 手动控制的高度. Default: $icon-base-height || 12px
@mixin icon-size (
  $width:$icon-base-width,
  $height:$icon-base-height) {

  width: $width;
  height: $height;
}

// 图标容器
// $width: 控制宽度可以显示的宽度
// $height: 控制容器可以显示的高度
@mixin icon-container (
  $width: $icon-container-width,
  $height: $icon-container-height) {

  display: block;
  width: $width;
  height: $height;
  position: relative;
  overflow: hidden;
}

// 图标定位
// $top - 可能是背景的定位或者元素的定位(居上)
// $left - 可能是背景的定位或者元素的定位(居右)
@mixin icon-position ($img-posi:(0, 0), $position: null) {
  @if ($position == "absolute") {
    position: absolute;
    top: nth($img-posi, 1);
    left: nth($img-posi, 2);
  } @else {
    background-position: nth($img-posi, 1), nth($img-posi, 2);
  }
}

// 填充icon的图像
// $img-key - 会根据map寻找相应的icon路径.
// $repeat - 重复方向
@mixin icon-image ($img-key:null) {
  @if $img-key {
    $img-url: map-get($icon-image-map, $img-key);
    background-image: url($img-url);
    background-repeat: no-repeat;
  } @else {
    background-color: $icon-bg-color;
  }
}


// 创建一个默认的图标样式
// $img-key - 图片路径映射键
// $img-posi - 图片定位数组(0, 0)
// $width - 可见宽度
// $height - 可见高度
@mixin icon-base (
  $img-key: null,
  $img-posi: (0, 0),
  $width: $icon-base-width,
  $height: $icon-base-height) {

  display: inline-block;
  @include icon-image($img-key);
  @include icon-size($width, $height);
  @include icon-position($img-posi);
}

// 创建一个伪元素背景
// $img-key - 图片路径映射键
// $img-posi - 图片定位数组(0, 0)
// $width - 可见宽度
// $height - 可见高度
@mixin icon-before (
  $img-key: $icon-collecion-key,
  $img-posi: (0, 0)) {

  @include icon-position($img-posi, "absolute");

  &:before {
    @if ($img-key == null) {
      content: '';
    } @else {
      $img-url: map-get($icon-image-map, $img-key);
      content: url($img-url);
    }
    display: inline-block;
  }
}

@include exports("icon") {
  .icon {

    @include single-transition(background-image);

    &.row, &.col {
      @include icon-base($img-key: "row");
      &:hover { @include icon-base($img-key: "row-hover"); }
    }
    &.col { @include rotate2d(90deg); }

    &.remove {
      @include icon-base( $img-posi:(-123px, -87px));
      &:hover { @include icon-base($img-posi:(-144px, -87px)); }
    }

  }

  .icon-container {
    @include icon-container;
  }
  .icon-brother {
    display: inline-block;
    width: 2px;
    float: right;
  }

  // 16 * 16
  .icon-open { @include icon-before($img-posi:(-24px, -19px)); }
  .icon-refresh { @include icon-before($img-posi:(-24px, -53px)); }
  .icon-download { @include icon-before($img-posi:(-24px, -88px)); }
  .icon-b { @include icon-before($img-posi:(-24px, -157px)); }
  .icon-i { @include icon-before($img-posi:(-24px, -226px)); }
  .icon-x { @include icon-before($img-posi:(-24px, -122px)); }
  .icon-a { @include icon-before($img-posi:(-25px, -190px)); }
  .icon-left { @include icon-before($img-posi:(-24px, -328px)); }
  .icon-right { @include icon-before($img-posi:(-24px, -259px)); }
  .icon-center { @include icon-before($img-posi:(-24px, -294px)); }
  .icon-bg { @include icon-before($img-posi:(-55px, -259px)); }
  .icon-filter { @include icon-before($img-posi:(-55px, -19px)); }
  .icon-e { @include icon-before($img-posi:(-55px, -53px)); }
  .icon-percentage { @include icon-before($img-posi:(-55px, -88px)); }
  .icon-kp { @include icon-before($img-posi:(-55px, -157px)); }
  .icon-kq { @include icon-before($img-posi:(-55px, -122px)); }
  .icon-y { @include icon-before($img-posi:(-55px, -190px));}

  .icon-arrow-down { @include icon-before($img-key: "arrow", $img-posi:(-7px, 0)); }
  .icon-arrow-min-down {
    @include icon-before($img-key: "arrow-min", $img-posi:(-9px, 0));
  }
}
