@import "global";

@include exports ("inline-style") {

  // 线字线:)
  .line-font-line {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;

    &::after, &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      height: 1px;
      width: 30%;
    }
    &::before { left: auto; right: 0; }
  }

  // 线字:)
  .font-line {
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    line-height: 1;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 100%;
      margin-left: 10px;
      border-top: 1px solid #ebdee0;
    }

    &.dashed:after { border-top-style: dashed; }
  }

  .fn-fonthid {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}