@import "global";
@import "icon";
// 输入定义


@include exports("input") {

  .checkbox {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, .8);
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 8px;
      border: 1px solid $black;
      background-color: $white;
      cursor: default;

      border-color: #8d939c;
      background-color: #d9dedc;
    }
  }

  .select {
    position: relative;
  }

  .select-target {
    position: relative;
    display: block;
    padding: 4px 10px 4px 10px;
    border: 1px solid #A3A4A5;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .1);
    background-image: linear-gradient(-179deg, #ffffff 0%, #fafafa 100%);
    color: rgba(0, 0, 0, .5);

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      display: inline-block;
      margin-top: -4px;
      vertical-align: middle;
      @include icon-size($width: 5px, $height: 8px);
      @include icon-image($img-key: "triangle");
    }
  }
}