@import "global";
@import "icon";
// 输入定义


@include exports("input") {

  .checkbox {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    cursor: pointer;

    &.selected {
      color: $white;
      &:before {
        background-color: #64AFF9;
        box-shadow: inset 1px 1px 0 1px $white,
                    inset -1px -1px 0 1px $white;
      }
    }

    &:before {
      content: '';
      display: inline-block;
      width: 11px;
      height: 11px;
      margin-right: 8px;
      margin-bottom: -1px;
      border: 1px solid $black;
      background-color: $white;
      cursor: default;

      border-color: #3F454C;
      background-color: #7C828B;
    }
  }

  .break {
    .checkbox {
      color: $black;

      &.selected:before {
        background-color: #64AFF9;
        box-shadow: inset 1px 1px 0 1px $white,
                    inset -1px -1px 0 1px $white;
      }

      &:before {
        border-color: #B6B7B8;
        background-color: $white;
      }
    }
  }


  .select-control {
    position: relative;
    white-space: nowrap;

    .select-input {
      padding: 4px 10px;
      border: 1px solid #a3a4a5;
      border-radius: 4px;
      background-image: linear-gradient(-179deg, #ffffff 0%, #fafafa 100%);
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .1);
      color: rgba(0, 0, 0, .5);
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        display: inline-block;
        margin-top: -4px;
        @include icon-size($width: 5px, $height: 8px);
        @include icon-image($img-key: "triangle");
      }

      &.active {
        color: $black;
        background-image: none;
        background-color: $white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.disabled {
        color: rgba(0, 0, 0, .5);
        background-image: none;
        background-color: #f0f0f0;
      }
    }
  }

  .select-dropdown {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: -1px 0 0 0;
    border: 1px solid #a3a4a5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $white;
    box-shadow: 1px 2px 2px 0px rgba(233, 233, 233, .5);

    .select-dropdown-content {
      max-height: 150px;
      padding: 5px 0 9px 0;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .option {
      padding: 5px 10px;
      cursor: pointer;

      &.hover, &:hover {
        color: #ffffff;
        background-image: linear-gradient(-179deg, #67AFE8 0%, #4B82EC 100%);
      }
    }
  }
}