@import "global";
@import "icons";
// 输入元素定义

// 多选框尺寸
$checkbox-box-width: rem-calc(11);
$checkbox-box-height: rem-calc(11);
$checkbox-text-spacing: rem-calc(8);
$checkbox-maring-bottom: rem-calc(15);

// 多选框颜色
$checkbox-font-color: rgba(255, 255, 255, .5);
$checkbox-selected-font-color: $white;
$checkbox-box-bg-color: #7c828b;
$checkbox-box-border-color: #3f454c;
$checkbox-box-selected-color: #64aff9;
$checkbox-box-selected-bg-color: $white;

// 下拉框尺寸
$select-input-padding-top: 4px;
$select-input-padding-left: 10px;
$select-input-border-radius-size: 4px;
$select-dropdown-maring: -1px 0 0 0;
$select-dropdown-content-max-height: rem-calc(150);
$select-dropdown-content-padding: 5px 0 9px 0;
$select-dropdown-option-padding: 5px 10px;

// 下拉框颜色
$select-disabled-bg-color: #f0f0f0;
$select-input-border-color: #a3a4a5;
$select-input-font-color: rgba(0, 0, 0, .5);
$select-input-bg: linear-gradient(-179deg, #ffffff 0%, #fafafa 100%);
$select-input-active-bg-color: $white;
$select-dropdown-border-color: #a3a4a5;
$select-dropdown-hover-option-font-color: $white;
$select-dropdown-hover-option-bg: linear-gradient(-179deg, #67afe8 0%, #4b82ec 100%);

$select-input-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5);
$select-dropdown-box-shadown: 1px 2px 2px 0px rgba(233, 233, 233, .5);

// 单选尺寸
$radio-point-diameter: rem-calc(15);
$radio-point-spacing: rem-calc(8);
$radio-point-border-color: gray;

@include exports ("input") {

  .checkbox {
    display: inline-block;
    width: 100%;
    margin-bottom: $checkbox-maring-bottom;
    line-height: 1;
    cursor: pointer;
    color: $checkbox-font-color;

    &.selected {
      color: $checkbox-selected-font-color;
      &:before {
        background-color: $checkbox-box-selected-color;
        box-shadow: inset 1px 1px 0 1px $checkbox-box-selected-bg-color,
                    inset -1px -1px 0 1px $checkbox-box-selected-bg-color;
      }
    }

    &:before {
      content: "";
      display: inline-block;
      width: $checkbox-box-width;
      height: $checkbox-box-height;
      margin: 0 $checkbox-text-spacing -1px 0;
      border: 1px solid $black;
      cursor: default;

      border-color: $checkbox-box-border-color;
      background-color: $checkbox-box-bg-color
    }
  }

  .radio {
    display: inline-block;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: $radio-point-diameter;
      height: $radio-point-diameter;
      vertical-align: middle;
      margin: -2px $radio-point-spacing 0 0;
      border: 1px solid $radio-point-border-color;
      border-radius: $radio-point-diameter;
    }
// .mn-checkbox:before, .mn-radio:before {
//   content: '';
//   display: inline-block;
//   margin-right: 8px;
//     }

    // .mn-check.mn-radio:before {
    //   background-color: #64AFF9;
    // }
    // .mn-check.mn-radio:before {
    //   background-color: #64AFF9;
    // }
    // .mn-radio:before {
    //   box-shadow: 3px 0 0 1px #ffffff inset,
    //  0 3px 0 1px #ffffff inset,
    //  -3px 0 0 1px #ffffff inset,
    //  0 -3px 0 1px #ffffff inset;
    // }
    // .mn-radio:before {
    //   border-color: #A3A4A5;
    // }
  }

  .select-control {
    position: relative;
    white-space: nowrap;

    .select-input {
      padding: $select-input-padding-top $select-input-padding-left;
      border: 1px solid $select-input-border-color;
      border-radius: $select-input-border-radius-size;
      background: $select-input-bg;
      box-shadow: $select-input-box-shadow;
      color: $select-input-font-color;
      cursor: pointer;

      @include icon-abs-before("triangle", (0, 0));
      &::before { top: auto; left: auto; right: $select-input-padding-left; }

      &.selected {
        color: $black;
        background: $select-input-active-bg-color;
      }

      &.active {
        color: $black;
        background-image: none;
        background-color: $select-input-active-bg-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.disabled {
        color: $select-input-font-color;
        background-image: none;
        background-color: $select-disabled-bg-color;
      }
    }

    .select-dropdown {
      position: absolute;
      z-index: 1;
      width: 100%;
      margin: $select-dropdown-maring;
      border: 1px solid $select-dropdown-border-color;
      background-color: $select-input-active-bg-color;
      box-shadow: $select-dropdown-box-shadown;
      @include side-radius(bottom, $select-input-border-radius-size);

      .select-dropdown-content {
        max-height: $select-dropdown-content-max-height;
        padding: $select-dropdown-content-padding;
        overflow-x: hidden;
        overflow-y: auto;

        .option { padding: $select-dropdown-option-padding; cursor: pointer;
          &.hover, &:hover {
            color: $select-dropdown-hover-option-font-color;
            background: $select-dropdown-hover-option-bg;
          }
        }
      }
    }
  }
}
