@import "global";
// 链接定义

.link-img {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.line-font {
  width: 100%;
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    border: 0;
    border-top: 1px solid #DBDEE0;
    border-style: dashed;
  }
}

.line-font-line {
  color: rgba(255, 255, 255, .5);
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  text-align: center;

  &::after, &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 30%;
    height: 1px;
    background-color: #838a93;
  }

  &::before {
   left: auto;
   right: 0;
  }
}

.fn-fonthid {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}