@import "global";
@import "icon";
// 菜单样式

// 菜单项大小控制
$menu-interval: -5px; // 两个菜单的间隔
$menu-item-gap: rem-calc(12); // 菜单项空隙
$menu-item-filling: rem-calc(20); // 两侧填充尺寸
$menu-item-min-width: rem-calc(140);
$menu-zIndex: 99;

// 菜单项字体
$menu-font-size: 12px;
$menu-font-color: black;

// 菜单组颜色控制
$menu-line-color: #EBEBEB;
$menu-border-color: #d3d7d9;
$menu-item-hover-color: #f0f0f0;
$menu-box-shadow-color: #E6E7E7;

// 创建一个无限级联的菜单ul>li结构
// $item-direction - 菜单项的浮动方向
// $block-gap - 每个ul为一块,定义每块上下的间隙高度
// $item-gap - 定义每个菜单项之间的空隙,会/2平分给上下
// $item-filling - 菜单项的左右填充尺寸
// $item-min-width - 菜单项的最小宽度
// $font-color - 菜单全局的字体颜色
// $line-color - 对菜单项分组线的颜色定义
// $border-color - 菜单整体边框的颜色,即每个块的边框颜色
// $box-shadow-color - 定义菜单的阴影颜色,即每个块的阴影
// $bg-color - 菜单背景颜色
@mixin menu(
  $item-direction: left,
  $block-gap: 5px,
  $item-gap: $menu-item-gap,
  $item-filling: $menu-item-filling,
  $item-min-width: $menu-item-min-width,
  $font-color: $menu-font-color,
  $line-color: $menu-line-color,
  $border-color: $menu-border-color,
  $box-shadow-color: $menu-box-shadow-color,
  $bg-color: white) {

  margin: 0;
  padding: 0;

  li {
    display: block;
    float: $item-direction;

    &.hover { // 激活下
      position: relative; // 下层容器相对定位
      > ul { display: block; } // 展开下层
    }

    &.group-line { // 组分割线
      border-bottom: 1px solid $line-color;
      margin: 4px 0;
    }

    &.child:before { // 子项标示
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      float: right;
      margin: 9px 3px 0 0;

      @include icon-sprite($img-key: "arrow", $img-posi:(1px, 0));
      @include rotate2d(-90deg);
    }

    > ul { // 下层菜单容器
      padding: $block-gap 0 $block-gap 0;
      background-color: $bg-color;
      border: 1px solid $border-color;

      a { /* 菜单项尺寸 */
        min-width: $item-min-width;
        padding: $item-gap/2 $item-filling;

        &:hover { background-color: $menu-item-hover-color; }
      }
    }
  }

  ul {
    position: absolute; // 根据li绝对定位
    z-index: $menu-zIndex;
    display: none; // 隐藏
    margin: 0;
    padding: 0;

    box-shadow: 2px 2px 9px $box-shadow-color;

    ul { // 二级
      top: 0;
      left: 100%;
      margin-left: $menu-interval;

      box-shadow: 2px 2px 9px $box-shadow-color;
    }

    li { float: none; } // 二级垂直
  }

  // 默认菜单项的大小控制
  a {
    display: block;
    padding: 5px 8px; // 权重低默认
    font-size: $menu-font-size;
    color: $font-color;
    cursor: default;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
  }

  > li.hover > a { // 向下覆盖li形成一个整体的框
    position: relative;
    border: 1px solid $border-color;
    border-bottom-color: $bg-color;
    background-color: $bg-color;
    box-shadow: 2px 2px 9px $box-shadow-color;

    &::after { // 遮盖阴影
      content: "";
      display: inline-block;
      width: 100%;
      height: 9px;
      position: absolute;
      z-index: $menu-zIndex + 1;
      bottom: -2px;
      left: 0;
      background-color: $bg-color;
    }
  }
}

@include exports("menu") {

  .menu {
    @include menu;
  }
}
