@import "global";
@import "icon";
// 选项卡样式

$tabs-item-height: 32px;
// 选中颜色
$tabs-selected-color: #87c4ff;
$tabs-item-bg-color: #e3e5e7;
$tabs-item-border-color: #d3d7da;

@include exports("tabs") {

  .tabs-item {
    display: inline-block;
    width: 122px;
    height: $tabs-item-height;
    padding: 0 9px;
    margin-top: -1px;

    font-size: 12px;
    line-height: $tabs-item-height;
    border: 1px solid $tabs-item-border-color;
    border-bottom: 4px solid $tabs-item-bg-color;
    border-right: 0;
    background-color: $tabs-item-bg-color;

    cursor: pointer;

    .close-min { height: 11px; }

    &.selected {
      width: 144px;
      background-color: $white;
      border-bottom-color: $tabs-selected-color;
    }

    & > span {
      display: inline-block;
      width: 90%;
      line-height: 1;
    }
  }
  .tabs-item:last-child { border-right: 1px solid $tabs-item-border-color; }

}