@import "global";
// 表格布局

$table-row-spacing: rem-calc(14); // 行间隔
$table-side-padding: rem-calc(20); // 表格侧边填充

$highlight-input-item-bottom: rem-calc(10);
$highlight-content-padding-left: rem-calc(10); // 内容区内边距
$highlight-border-color: #d3d5d9;
$highlight-bg-color: $white;

$more-block-input-item-right: rem-calc(20);
$more-block-font-line-color: #3b9eff;

$table-fieldset-top: rem-calc(15);
$table-fieldset-padding: 0 10px 0 19px;
$table-fieldset-input-item-bottom: rem-calc(12);
$table-fieldset-border-color: #d3d7d9;
$table-fieldset-bg-color: $white;

$more-block-input-item-bottom: rem-calc(8);

// $table-highlight-td-filling: rem-calc(14); // 内容相驳

// $more-row-padding: rem-calc(15) 0 rem-calc(15) rem-calc(20);

// $table-highlight-border-color: #d3d5d9;
// $table-highlight-bg-color: $white;

@include exports ("table") {

  .table-grid { // 表格格子
    th { 
      width: 1px;
      text-align: left;
      white-space: nowrap;
    }
    th, td {
      //border: 1px solid green;
      padding-top: $table-row-spacing;
      padding-bottom: $table-row-spacing;
    }
    th:first-child { padding-left: $table-side-padding; } // 描述性文字
    td:last-child { padding-right: $table-side-padding; }

    tr + tr { th, td { padding-top: 0; } } // 清零
    tr.highlight, tr.highlight + tr { th, td { padding-top: $table-row-spacing; } }

    // 单容器
    .table-grid-single {
      padding-left: $table-side-padding;
      padding-right: $table-side-padding;
    }
  }

  .table-fieldset { // 表格控件组
    display: inline-block;
    padding: $table-fieldset-padding;
    margin: 0;
    border: 1px solid $table-fieldset-border-color;
    background-color: $table-fieldset-bg-color;

    .input-text {
      display: inline-block;
      margin-bottom: $table-fieldset-input-item-bottom;
    }

    .radio { margin-bottom: $table-fieldset-input-item-bottom - rem-calc(2); }
    .checkbox { margin-bottom: $table-fieldset-input-item-bottom; }
    legend { margin-bottom: $table-fieldset-top; }
input { //?
  outline: 0;
  height: 22px; width: 38px;
  border: 1px solid #d3d7d9;
  margin-right: 20px;
} 
  }

  .highlight { // 高亮显示块
    th:first-child { vertical-align: top; }
    th, td {
      border-top: 1px solid $highlight-border-color;
      border-bottom: 1px solid $highlight-border-color;
      background-color: $highlight-bg-color;
    }
    td.highlight-content {
      padding-left: $highlight-content-padding-left;
    }

    .checkbox {
      margin-bottom: $highlight-input-item-bottom;
      &:nth-last-of-type(1) { margin-bottom: 0; }
    }
  }

  .more-block { // 扩展块
    padding-left: $table-side-padding;
    padding-right: $table-side-padding;

    .font-line {
      color: $more-block-font-line-color;
      margin-bottom: $table-row-spacing;
    }
    .radio { margin-right: $more-block-input-item-right; }
    .checkbox { margin-bottom: $more-block-input-item-bottom; }
    > .checkbox:last-child { margin-bottom: 0; }

    .more-row {
      padding-top: $table-row-spacing;
      padding-bottom: $table-row-spacing;

      &.inside { padding-left: $table-side-padding; }
    }
    > .more-row:last-child { padding-bottom: 0; }
    .font-line + .more-row { padding-top: 0; }

  }

    // .input-label {
  //   display: inline-block;
  //   margin-bottom: $checkbox-maring-bottom;
  //   line-height: 1;
  //   color: $black;
  // }

  // .input-text, .input-text-l { // 小块输入
  //   width: $input-text-width;
  //   height: $input-text-height;
  //   margin-right: $input-text-margin-right;
  //   border: 1px solid $input-text-border-color;
  // }
  // .input-text-l { margin-right: 10px; }
  // .input-serch {
  //   width: 100%;
  //   font-size: 16px;
  //   line-height: 38px;
  //   border: 0; outline: 0;
  // }
}