@import "global";
@import "icons";
// 选项卡定义

// 选项卡项盒子
$tabs-item-width: rem-calc(140);
$tabs-item-selected-width: rem-calc(160);
$tabs-item-height: rem-calc(31);
$tabs-item-padding: 0 14px 0 9px;
$tabs-item-padding-left: 10px;

$tabs-item-font-color: rgba(0, 0, 0, .6);
$tabs-item-selected-color: #87c4ff;
$tabs-item-border-color: #d3d7dd;
$tabs-item-bg-color: #e3e5e7;

@include exports("tabs") {

  .tabs-item {
    position: relative;
    display: inline-block;
    height: $tabs-item-height;
    width: $tabs-item-width;
    padding: $tabs-item-padding;
    margin-right: -1px;

    font-size: 12px;
    line-height: ($tabs-item-height - rem-calc(2));
    border-left: 1px solid $tabs-item-border-color;
    border-right: 1px solid $tabs-item-border-color;
    border-bottom: 4px solid $tabs-item-bg-color;
    background-color: $tabs-item-bg-color;
    color: $tabs-item-font-color;
    vertical-align: middle;
    cursor: pointer;

    &.selected {
      width: $tabs-item-selected-width;
      color: $black;
      background-color: $white;
      border-bottom: 4px solid $tabs-item-selected-color;
    }

    & > .icon-m-close {
        position: absolute;
        top: 50%; right: $tabs-item-padding-left;
        display: inline-block;
        margin-top: -4px;
        @include icon-image("close-min", $width: 8px, $height: 9px);
    }
  }
}