@import "global";
// 表格布局

$table-highlight-td-filling: rem-calc(14); // 内容相驳

$more-row-padding: rem-calc(15) 0 rem-calc(15) rem-calc(20);

$table-highlight-border-color: #d3d5d9;
$table-highlight-bg-color: $white;

$form-fieldset-padding: 7px 10px 0 19px;
$form-fieldset-border-color: #d3d7d9;
$form-fieldset-bg-color: $white;

@include exports ("table") {

  // 高亮行
  tr.highlight {
    th, td {
      padding-bottom: 4px;
      border-top: 1px solid $table-highlight-border-color;
      border-bottom: 1px solid $table-highlight-border-color;
      background-color: $table-highlight-bg-color;
    }
    th { vertical-align: top; }
    .checkbox { margin-bottom: 10px; }
  }

  // 高亮上
  tr.highlight-loft {
    th, td { padding-bottom: $table-highlight-td-filling; }
  }

  // 更多一行容器
  .more-row {
    display: block;
    line-height: 1;
    padding: $more-row-padding;
  }

  .more-content {
    padding-top: 10px;
    .checkbox { margin-bottom: 8px; }
  }

  // 控件组
  .form-fieldset {
    display: inline-block;
    padding: $form-fieldset-padding;
    margin: 0;
    border: 1px solid $form-fieldset-border-color;
    background-color: $form-fieldset-bg-color;

    .select-control { margin-left: 6px; }
    .radio { margin-bottom: 10px; }
  }
}