@import "global";
// 表格布局

$table-highlight-td-filling: rem-calc(14);

$table-highlight-border-color: #d3d5d9;
$table-highlight-bg-color: $white;

$checkbox-box-bg-color: $white;
$checkbox-box-border-color: #a3a4a5;
$checkbox-box-selected-color: #64aff9;

@include exports ("table") {

  // 高亮行
  tr.highlight {
    th, td {
      padding-bottom: $table-highlight-td-filling;
      border-top: 1px solid $table-highlight-border-color;
      border-bottom: 1px solid $table-highlight-border-color;
      background-color: $table-highlight-bg-color;
    }
    th { vertical-align: top; }

    .checkbox { // 高亮下多选控制
      color: $black;
      &:before {
        border-color: $checkbox-box-border-color;
        background-color:  $checkbox-box-bg-color;
      }
      &.selected {
        color: $black;
        &:before { background-color: $checkbox-box-selected-color; };
      }
    }
  }

  // 高亮上
  tr.highlight-loft {
    th, td { padding-bottom: $table-highlight-td-filling; }
  }

  // 更多一行容器
  .more-row {
    display: black;
  }
}