@import "global";
@import "icon";
// 工具条

// 工具条尺寸
$toolbar-height: rem-calc(38);

// 按钮大小
$toolbar-btn-margin-top: 3px;
$toolbar-btn-margin-bottom: 3px;
$toolbar-btn-padding: 5px;

// 按钮线
$toolbar-btn-border-radius: 2px;

// 工具条颜色控制
$toolbar-border-color: #d7dadc;
$toolbar-gradinet-top-color: #fafbfc; // #fbfcfd, #f5f5f5
$toolbar-gradinet-bottom-color: #f5f5f5;
$toolbar-btn-hover-color: #cccccc;
$toolbar-cut-color: #e3e5e7;

// 定义线性渐变工具条to bottom
// $height - 工具条整体的高
// $border-color - 边框颜色,会去掉上下边框
// $gradinet-top-color - 渐变上颜色值
// $gradinet-bottom-color - 渐变下颜色值
@mixin toolbar (
  $height: $toolbar-height,
  $border-color: $toolbar-border-color,
  $gradinet-top-color: $toolbar-gradinet-top-color,
  $gradinet-bottom-color: $toolbar-gradinet-bottom-color) {

  height: $height;
  border: 1px solid $border-color;
  border-left: 0;
  border-right: 0;
  overflow: hidden;
  background-image:
    linear-gradient(to bottom, $gradinet-top-color, $gradinet-bottom-color);
  box-shadow: 2px 3px 4px #F2F2F2;
}

// 工具条按钮
// 
@mixin toolbar-btn-base (
  $margin-top: $toolbar-btn-margin-top,
  $margin-bottom: $toolbar-btn-margin-bottom,
  $padding: $toolbar-btn-padding,
  $border-radius: $toolbar-btn-border-radius) {

  display: inline-block;
  margin: $margin-top 0 $margin-bottom 0;
  padding: $padding;
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  outline: 0;
  vertical-align: middle;
}

// 按钮样式
@mixin toolbar-btn-style (
  $border-color: $toolbar-btn-hover-color,
  $bg-gradient-top: #f0f0f0,
  $bg-gradient-bottom: #fafafa) {

  border-color: $border-color;
  background-image: linear-gradient(to top, $bg-gradient-bottom, $bg-gradient-top);
}

@include exports("toolbar") {

  .toolbar {
    @include toolbar;
  }

   // 工具条分割线
  .toolbar-cut {
    display: inline-block;
    height: $toolbar-height;
    width: 1px;
    margin: -1px 10px -1px 8px;
    outline: 0;
    vertical-align: middle;

    background-color: $toolbar-cut-color;
  }

  .toolbar-btn {
    @include toolbar-btn-base;

      @include toolbar-btn-style;
    &:hover {
    }

    &:active {
      box-shadow: inset 1px 1px 3px rgba(0,0,0, .25);
    }

    .icon-container {
      @include icon-container($width: 16px, $height: 16px); //_icon.scss
    }

    .icon-min-container {
      @include icon-container($width: 5px, $height: 16px); //_icon.scss
    }

    .font-container {
      display: block;
      height: 16px;
      font-size: 12px;
      line-height: 1.2;
    }
  }

}