
@include exports ("placeholders") {
  // 不让你点
  %ut-nosel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  // 过长就变...
  %ut-fonthid {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .line-block {
    display: inline-block;
  }
}


